<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483316879705-0lenbotac54takpejjbt2edl6rscj6o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483316879705-0lenbotac54takpejjbt2edl6rscj6o2</string>
	<key>API_KEY</key>
	<string>AIzaSyCf4JnJX93CibO_ivhnv7jYDDRiZhzUZiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>483316879705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dsix</string>
	<key>PROJECT_ID</key>
	<string>dsix-fcc69</string>
	<key>STORAGE_BUCKET</key>
	<string>dsix-fcc69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483316879705:ios:46b7eab2de5931fb52fc48</string>
</dict>
</plist>